@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@100;300&display=swap');
  
/*=======================================
           BODY
========================================*/

body {
    font-family: 'Tourney', sans-serif; 
    background-color:#f4acc4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/*=======================================
           CONTAINER
========================================*/

.container {
    color:#eceded;
    text-align: center;
    background-color:#8c5c6c;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/*=======================================
           BUTTON
========================================*/


.default-btn {
    display: inline-block;
    padding: 12px 34px;
    color: #eceded;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    text-align: center;
    background: #d9a9b8;
    cursor: pointer;
}
    
  .default-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #d9a9b8;  transition: 0.5s ease-in;
  }
  .default-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e91b1bb4;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }
  




/*=======================================
           USER INPUT
========================================*/

  #user-input{
   border: none;
   outline: 0; 
   transition: 0.5s;
   padding-top: 10px;
   padding-bottom: 10px;
   margin-bottom: 10px;
  }

  #play-again {
    display: block;
    margin: 20px auto;
  }

  #game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* Align the text within the container */
  }
  

  
  #submit-button {
    display: inline-block;
    vertical-align: middle;
  }
  